:root{
    --dark: #212121;
    --primary: #FFC107;
    --second: #0097A7;
    --selected:#066974;
    --widthScreen: 1200px;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    min-height: 100vh;
    font-size: 62.5%;
  }
*, *:before, *:after {
    box-sizing: inherit;
}

h1,h2,h3{
    margin: 0;
}

body{
    min-height: 100vh;
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    font-size: 1.6rem;
}

.header{
    background-color: white;
}



.header nav{
    max-width: var(--widthScreen);
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
}

.header nav a{
    color: var(--dark);
    font-size: 2.2rem;
    font-weight: 700;
    text-decoration: none;
}

@media (max-width:768px){
    .header nav{
        flex-direction: column;
        text-align: center;
        padding-bottom: 0;
    }    
    .header nav a{
        margin-bottom: 2rem;
    }    
}    

.hero{
    position: relative;
    background: url(../img/hero.jpg) no-repeat center;
    background-size: cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero::after{
    position: absolute;
    content:'';
    background-color: rgba(0,0,0,.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container-hero{
    position: relative;
    color: white;
    z-index: 1;
}

.container-hero p{
    font-size: 2rem;
}

.container-hero i{
    color: var(--primary);
    font-size: 4rem;
}

.container-hero a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 2rem;
}

.container-hero .boton{
    background-color: var(--second);
    padding: 1rem 5rem;
    display: inline-block;
    margin: 1rem;
    border-bottom: .6rem solid #074a52;
}

.container-hero .boton:hover{
    background-color: var(--selected);
}

.container{
    max-width: var(--widthScreen);
    margin: 0 auto;
    background-color: whitesmoke;
    border-radius: 1rem;
}

.site-main{
    margin-top: 3rem;
}

.site-main h2{
    padding-top: 2rem;
    text-align: center;
}

.site-services{
    display: flex;
    justify-content: space-between;
    flex-basis: calc(100);
    
}

@media (max-width: 768px){
    .site-services{
        flex-direction: column;
    }
}


